data:
  defective_examples_folder_path: C:\noam\saips\images\defective_examples
  non_defective_examples_folder_path: C:\noam\saips\images\non_defective_examples

  defective_inspected_path1: C:\noam\saips\images\defective_examples\case1_inspected_image.tif
  defective_reference_path1: C:\noam\saips\images\defective_examples\case1_reference_image.tif
  defective_inspected_path2: C:\noam\saips\images\defective_examples\case2_inspected_image.tif
  defective_reference_path2: C:\noam\saips\images\defective_examples\case2_reference_image.tif

  non_defective_inspected_path: C:\noam\saips\images\non_defective_examples\case3_inspected_image.tif
  non_defective_reference_path: C:\noam\saips\images\non_defective_examples\case3_reference_image.tif

noise_cleaning:
  median_blur_radius: 5
  frame_radius: 3

alignment:
  is_force_translation: True
  subpixel_accuracy_resolution: 5

segmentation:
  num_classes: 3
  auto_thresholds: True
  low_threshold: 75
  high_threshold: 135

detection:
  blured_diff_thres: 55
  aura_radius: 6
  low_diff_far_from_edge_thres: 25
  thread_defect_high_pass_thres: 30
  min_thread_defect_size: 5
  min_diff_threshold: 28

misc:
  is_plotting: True
